<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/Screenshot_2024-04-28_002436-removebg-preview.png">


    <title>GREEN LAND</title>
    <link rel="stylesheet" href="mini.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link href='http://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer"
     />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    

     <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>

  </head>
<body>

  <header id="header">
   
    <img src="images/Screenshot_2024-04-28_002436-removebg-preview.png" class="logo1">
      
       <h1>
        <a href="#" class="logo1">GREEN.<i class="fa-solid fa-tree"></i>.LAND </a>
      </h1>

     <div class="navbar"> 
      <div class="container">
       
      </div>
         
          <ul class="links">
            <li><a href="#home">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="event.html">Event</a></li>
  
            <li><a href="blog.html">Blog</a></li>
          

        </ul>
        <a href="#login.html" class="action_btn">login<i class="fa-solid fa-user"></i></a>
          <div class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
          </div>
        
   </div> 
   <div class="dropdown_menu">

    <a href="#" class=""> <img src="images/Screenshot_2024-04-28_002436-removebg-preview.png" class="logo2"></a>

    <li><a href="#home">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="gallery.html">Gallery</a></li>
    <li><a href="event.html">Event</a></li>
    <li><a href="blog.html">Blog</a></li>
   <li><a href="login.html" class="action_btn">Login<i class="fa-solid fa-user"></i></a></li>
  
</div> 
  
  </header>

  <main class="main">

    

    <section class="hero" id="home">
      <div class="container">

        <p class="section-subtitle">
      
          <span>Welcome to GREEN<i class="fa-solid fa-tree"></i>LAND </span>
        </p>

        <h2 class="h1 hero-title">
          Give Love for Saving <strong>World Animals</strong>
        </h2>

        <p class="hero-text">
          Preserving global biodiversity is paramount. Through conservation efforts, stringent anti-poaching measures, and fostering awareness, we can ensure a sustainable future where every species contributes to the richness of our planet.
    
        </p>

        <a href="#gg"> 
          <button class="btn btn-primary">
            <span>explorer</span><i class="fa-solid fa-tree"></i>

          </button></a>
       
      </div>
    </section>
 
   
    <section class="section features"  id="gg">
      <div class="container">

        <ul class="features-list">

          <li class="features-item">
            <div class="item-icon">
              <ion-icon name="shield-checkmark-outline"></ion-icon>
            </div>

            <div>
              <h3 class="h4 item-title">Safe Shelter</h3>

              <p class="item-text">
                a cornerstone of resilience in the face of adversity.
              </p>
            </div>
          </li>

          <li class="features-item">
            <div class="item-icon">
              <ion-icon name="water-outline"></ion-icon>
            </div>

            <div>
              <h3 class="h4 item-title">Safe Water</h3>
              Clean water: a basic necessity for thriving communities worldwide.
              <p class="item-text">
                
              </p>
            </div>
          </li>

          <li class="features-item">
            <div class="item-icon">
              <ion-icon name="leaf-outline"></ion-icon>
            </div>

            <div>
              <h3 class="h4 item-title">Ecology Save</h3>
              key to maintaining Earth's delicate balance of life.
              <p class="item-text">
                
              </p>
            </div>
          </li>

          <li class="features-item">
            <div class="item-icon">
              <ion-icon name="snow-outline"></ion-icon>
            </div>

            <div>
              <h3 class="h4 item-title">Environment</h3>

              <p class="item-text">
                ensuring a healthy planet for all inhabitants.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section>

  


      <section class="home section">
        <div class="home__container container grid">
            <div>
                <img src="images/shop-cactus-3.png" alt="" class="home__img">
            </div>
            
            <div class="home__data">
                <div class="home__header">
                    <h1 class="home__title">ABOUT<strong2> US</strong2></h1>
                 
                </div>

                <div class="home__footer">
                    <h3 class="home__title-description">Overview</h3>
                    <p class="home__description">Our website is a passionate endeavor dedicated to the protection and conservation of wildlife across the globe. Our mission is to raise awareness about the plight of endangered species, advocate for their welfare, and promote sustainable coexistence between humans and animals. Through education, advocacy campaigns, and on-the-ground initiatives, we strive to safeguard biodiversity, preserve habitats, and ensure a future where all species thrive. With a dedicated team of conservationists, researchers, and volunteers, we work tirelessly to make a meaningful difference in the lives of animals and the health of our planet. Together, we can be the voice for those who cannot speak and create a world where every creature is valued and protected. Join us in our mission to make a positive impact and leave a lasting legacy for generations to com
                    </p>
                    <a href="#" class="button button--flex">
                        <span class="button--flex">
                            Go to weave  <i class="fa-solid fa-right-to-bracket"></i>
                        </span>
                        <span class="home__price"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
   
    
    <section class="section sponcer">
      <div class="container">

        <a href="#" class="sponcer-logo">
          <img src="images/partner-1.png" width="157" height="55" loading="lazy" alt="Children Fund"
            class="gray">

          <img src="images/partner-1-active.png" width="157" height="55" loading="lazy" alt="Children Fund"
            class="color">
        </a>

        <a href="#" class="sponcer-logo">
          <img src="images/partner-2.png" width="163" height="55" loading="lazy" alt="Non Profit Agency"
            class="gray">

          <img src="images/partner-2-active.png" width="163" height="55" loading="lazy"
            alt="Non Profit Agency" class="color">
        </a>

        <a href="#" class="sponcer-logo">
          <img src="images/partner-3.png" width="149" height="55" loading="lazy" alt="Rise Hand Help Us"
            class="gray">

          <img src="images/partner-3-active.png" width="149" height="55" loading="lazy"
            alt="Rise Hand Help Us" class="color">
        </a>

        <a href="#" class="sponcer-logo">
          <img src="images/partner-4.png" width="169" height="58" loading="lazy" alt="Helping" class="gray">

          <img src="images/partner-4-active.png" width="169" height="58" loading="lazy" alt="Helping"
            class="color">
        </a>

        <a href="#" class="sponcer-logo">
          <img src="images/partner-5.png" width="211" height="55" loading="lazy" alt="Poor Fund Organization"
            class="gray">

          <img src="images/partner-5-active.png" width="211" height="55" loading="lazy"
            alt="Poor Fund Organization" class="color">
        </a>

      </div>
    </section>


  
  

    <section class="section partener">
      <div class="container">

        <div class="partener-content">
          <h2 class="h2 section-title"> <div id="counter-display">
            <p><span id="counter">2104+</span></p>
        </div> Trusted Global Partners
          
    
                </h2>

          <button class="btn btn-outline" id="popup-button">

            
            <span>Become a Partner</span>
            <i class="fa-solid fa-user-plus"></i>

          
          </button>
          <div id="popup-message" class="popup">
            <p>Do you want to partner?</p>
            <button class="yes">Yes</button>
            <button class="no">No</button>
        </div>
       
        
          
          <div id="response" style="display: none;"></div>
          




        </div>

        <figure class="cta-banner">
          <img src="images/wallpaperflare.com_wallpaper (1).jpg" 
            class="img-cover">
        </figure>

      </div>
    </section>

    <section class="section service" id="service" style="background-image: url('images/service-map.png')">
      <div class="container">

        <div class="box-container">

          <div class="box">
              <i class="fas fa-users"></i>
              <h3>1200+</h3>
              <p>volunteers</p>
          </div>
      
          <div class="box">
              <i class="fas fa-tree"></i>
              <h3>2800+</h3>
              <p>Trees planted</p>
          </div>
      
          <div class="box">
              <i class="fas fa-paw"></i>
              <h3>1150+</h3>
              <p>Animals saved</p>
          </div>
      
          <div class="box">
              <i class="fas fa-donate"></i>
              <h3>2050+</h3>
              <p>Donators</p>
          </div>
      
      </div>
       
      </section>


      <section class="review" id="review">

    

        <div class="box-container1">
          <div class="box">
              <p>"Nature crafted humans for so much more than just social media. We're born to explore, create, connect, and thrive in the real world, amidst the wonders of nature. Let's not forget our roots and embrace the beauty of the world beyond "</p>
              <div class="user">
                  <img src="images/Rohan_Pethiyagoda.jpeg" alt="Rohan Pethiyagoda">
                  <div class="info">
                      <h3>Rohan Pethiyagoda</h3>
                      <span>Sri Lanka</span>
                  </div>
              </div>
          </div>
      
          <div class="box">
              <p>"Animals and nature remind us of the importance of balance and connection beyond social media. Let's protect them, not just for likes and shares, but for their intrinsic value and the well-being of our planet. Let's use social media to raise awareness and inspire action for conservation"</p>
              <div class="user">
                  <img src="images/s465_Rebecca_Pow_gov.uk.jpg" alt="Rebecca Pow">
                  <div class="info">
                      <h3>Rebecca Pow</h3>
                      <span>United Kingdom</span>
                  </div>
              </div>
          </div>
      
          <div class="box">
              <p>"As we share our lives online, let's remember to respect the habitats of our animal neighbors. They deserve a safe and peaceful existence just as much as we do.</p>
              <div class="user">
                  <img src="images/images (6).jpeg" alt="Pavithra Wanniarachchi">
                  <div class="info">
                      <h3>Pavithra Wanniarachchi</h3>
                      <span>Sri Lanka</span>
                  </div>
              </div>
          </div>
      
          <div class="box">
              <p>While social media connects us, it's important to remember the invaluable connections we have with nature and its creatures. Let's strive to protect and preserve their habitats for generations to come. </p>
              <div class="user">
                  <img src="images/images (7).jpeg" alt="Murray Watt">
                  <div class="info">
                      <h3>Murray Watt</h3>
                      <span>Australia</span>
                  </div>
              </div>
          </div>
      </div>
      

  
      <div id="app">
        <div class="container center__display">
            <div class="top">
                <div class="comments__container center__display">
                    <div class="comment__card" v-for="(comment, index) in comments" :key="index">
                        <div class="pic center__display">
                            {{ comment.initial }}
                        </div>
                        <div class="comment__info">
                            <small class="nickname">
                                {{ comment.nickname }}
                            </small>
                            <p class="comment">
                                "{{ comment.text }}"
                            </p>
                            <div class="comment__bottom">
                                <div class="heart__icon--comment">
                                    <i class="far fa-heart"></i>
                                </div>
                                <button @click="reply(index)">
                                    Reply
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <form @submit.prevent="submitForm">
                    <div class="heart__icon">
                        <!-- Heart icon here -->
                    </div>
                    <div class="form__info center__display">
                        <input type="text" v-model="newComment.user" placeholder="Your user name">
                        <input type="text" v-model="newComment.comment" placeholder="Add a short comment here">
                    </div>
                    <button type="submit" class="submit__btn">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>






    </section>








      <section id = "video">
        <div class = "video-wrapper flex">
            <video loop>
                <source src = "images/video-section.mp4" type = "video/mp4">
            </video>
            <button type = "button" id = "play-btn">
                <i class = "fas fa-play"></i>
            </button>
        </div>
    </section>
    

  </main>






  <footer>

    <div class="start">
      <h3>UP COMMING EVENT</h3>
      <p>"Join us in protecting nature at our upcoming conservation event."</p>
    <a href="event.html"> <button>Let's go this</button></a> 
  </div>

  <div class="cols">
      <div class="about-col">
          <h3><a href="#" class="logo1">GREEN.<i class="fa-solid fa-tree"></i>.LAND </a></h3>
        
    


    <div class="footer_main">

      

        <div class="footer_tag">
            <h2>Quick Link</h2>
           <a href="#home"><p>Home</p></a> 
           <a href="about.html"><p>About</p></a>
            <a href="gallery.html"><p>Gallery</p></a>
    
          <a href="event.html"> <p>Event</p></a> 
          <a href="#blog"> <p>Blog</p></a> 
          
        </div>

        <div class="footer_tag">
            <h2>Contact</h2>
            <p>+94 123 456 789</p>
            <p>+94 255 568 456</p>
            <p>denu1234@gmail.com</p>
            
            
        </div>

      

        <div class="footer_tag">
            <h2>Follows</h2>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>

       </div>

    </div>

  </div>
  


  <div class="share">
    <h3 class="letter">Subscribe</h3>
    <form1 action="">
        <input type="email" placeholder="enter your email">
        <button type="submit" class="fas fa-paper-plane"></button>
    </form1>
</div>

    
    </div>
    
    <h1 class="credit">created by <a href="https://hddenuwan21.github.io/ba/codegeek/index.html"> HD DENUWAN</a> | all rights reserved. <a href="https://github.com/hddenuwan21"> <i class="fa-brands fa-github"></i> github</a></h1>
    
    </section>


 

</footer>



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> 

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="mini.js"></script>

</body>
</html>
